body {
    background: linear-gradient(135deg, #ff6b6b, #3a1c71);
    filter: brightness(0.8);
    font-family: monospace;
    font-size: 14px;
    text-align: center;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-form {
    height: 360px;
    width: min(360px, 90vw);
    border-radius: 8px;
    background: linear-gradient(163deg, #ff6b6b, #3a1c71);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.input {
    border-radius: 8px;
    margin-block: auto;
    height: 36px;
    padding: 6px;
    margin-block: 9px;
    border: 1px solid #ff6b6b;
}

input:focus {
    outline: none !important;
    border: 1px solid greenyellow;
    box-shadow: 0 0 10px #719ECE;
}

img {
    height: 30%;
}

.button {
    height: 30px;
    padding-inline: 24px;
    border-radius: 6px;
    border: #ff6b6b solid 1px;
    background-color: #ff6b6b;
    margin-block: 4px;
}